

:root{
    --green: #29323c;
    --dark-color: gray;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid gray;
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:#29323c;
}

section{
    padding:5rem 9%;
}
span{
    color: crimson;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span {
    color: #8d021f;
    
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:orange;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
    border-radius: 10px 20px;
}

.header .header-1{
    background:transparent;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}

.header .header-1 .logo i{
    color:var(--green);
}


.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}
.header .head{
    background:var(--green);
}

.header .head .navbar{
    text-align: center;
}

.header .head .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .head .navbar a:hover{
    background:var(--dark-color);
}

.header .head.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}



.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    background: url(../image/farm.jpeg) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.home::after{
        content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.home .search-form{
    width:50rem;
    height:5rem;
    margin-bottom: 30px;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.home .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.home .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.home .search-form label:hover{
    color:var(--green);
}
.home .icons div,
.home .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;


}

.home .icons div:hover,
.home .header-1 .icons a:hover{
    color:orange;
}


.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;

}

.home .row .content{
    flex:1 1 42rem;
     color: ghostwhite;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 12rem;
    border-radius: 20px;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}


.home .row .content .text h3{
    position: absolute;
    line-height: 3;
    margin-left: 360px;
    margin-top: 10px;
    transform: translate(-50%,-50%);
    background: linear-gradient(-45deg, sandybrown, sandybrown, black, black, crimson, crimson);
    background-size: 300%;
    font-family: arial, helvetica, sans-serif;
    font-weight: 600;
    font-size: 5vw;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
}
@keyframes animated_text{
    0%{
        background-position: 0px 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0px 50%;
    } 
}

.home .row .content p{
    color:whitesmoke;
    font-size: 1.4rem;
    line-height: 4;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:orange;
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: ghostwhite;
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:white;
}
/* seller features */
.sell .sell-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border: green;
    text-align: center;
}

.sell .sell-slider .box:hover{
    border:var(--border-hover);
}

.sell .sell-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.sell .sell-slider .box:hover .image{
    transform: translateY(6rem);
}

.sell .sell-slider .box .image img{
    height: 25rem;
}

.sell .sell-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.sell .sell-slider .box:hover .icons{
    transform: translateY(0%);
}

.sell .sell-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.sell .sell-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.sell .sell-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.sell .sell-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.phn{
    background:url(../image/wal.jpeg) no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

.phn form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.phn form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.phn form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}
/*  end of arrivals */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin-top:0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;

}
#about .col-right h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .about-info h3 {

font-size: 1.5rem;
color: #363636;
margin-bottom: ;
text-align: center;
float: left;
}

#about .about-info h2 {

font-size: 3.0rem;
color:green ;
}
 .ctr {
    display: inline-block;
    padding: 7px 20px;
    color: black;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.5rem;

    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    text-align: center;
}
.ctr:hover {
    color:white ;
    background-color: #960019;
} 
.ctm
{
text-align: center;
    align: center;
margin-left: 120px; 
}
.ctm:hover {
    color:white ;
    background-color: #960019;
    margin-left: 120px; 
} 
/* End About Section */

/* contact Section */
/*#start5
{
background-image:url("images/cont.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#start2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: -10;
    z-index: -1;
}*/

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    margin-top: 20%;
}
#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}
#contact .contact-item {
    width: 80%;
    height: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
    
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: -10px;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: -7px;
}
#contact img{
    object-fit: center;
    height: 50px;
    width: 55px;
    display: cover;
    filter: grayscale(1);
}
#contact img:hover{

    filter: grayscale(0);
}

/*End contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    height: 50px;
    width: 70px;
    margin: 0 5px;
    margin-top: 40px;
}
#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
    height: 50px;
    width: 55px;
    display: cover;
}
#footer .social-item:hover img {
    filter: grayscale(0);
}
#footer p {
    color: white;
    font-size: 1.3rem;
}
/* End Footer */


.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
       }
          
    .home .row .content .text h3{
        margin-top: 10px;
    }

        

#about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */

    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 20px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        height: 20px;
    }
  

    
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content .text h3{
        font-size: 4.5rem;
        margin-left: 240px;
    
    }

    .phn{
        background-position: right;
    }

    .phn form{
        margin-left:0;
        max-width: 100%;
    }
#about .about {
        align-items: center;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */

    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 20px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        height: 20px;
    }
  

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
 

}